## Simulator specific ignores

config/LastScenario.txt


# Ignore Xcode specific files
*.xcuserdata/
*.xcworkspace/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.DS_Store

# Ignore build output and derived data
/DerivedData/
/build/

# Ignore other unnecessary files
*.swp
*.swo

project/*
project/.DS_Store
project/FCND_CPPSim*



